* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f5f3;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* UTILS */

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* HEADER  */
.page-header {
  background-color: white;
}
h1 {
  text-align: center;
  color: #ff940d;
  padding: 10px 0;
}

/* MAIN  */

/*  RECIPE TITLE  */

.recipe-title p {
  margin: 20px 0;
  color: gray;
}

.recipe-title h3 {
  font-size: 1.5rem;
  color: #4b3262;
  font-weight: bold;
  margin-bottom: 20px;
}
/* RECIPE INGREDIENTS  */

.recipe-ingredients {
  background-color: white;

  box-shadow: 3px 3px 0px rgb(219, 216, 216);
}

.recipe-ingredients .card-bottom h4 {
  margin: 30px;
}
.recipe-ingredients ul li {
  margin-top: 15px;
  margin-left: 30px;
}

.recipe-ingredients .card-bottom {
  padding-bottom: 30px;
}

/* SOCIAL  */
.social ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.social li b {
  display: none;
}

.social li {
  padding: 10px 15px;
  background-color: white;
  border-radius: 50px;
}
