* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f5f3;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* UTILS */

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* HEADER  */
.page-header {
  background-color: white;
}
h1 {
  text-align: center;
  color: #ff940d;
  padding: 10px 0;
}

/* MAIN  */

/*  RECIPE TITLE  */

.recipe-title p {
  margin: 20px 0;
  color: gray;
}
.recipe-title span {
  display: none;
}
.recipe-title h3 {
  font-size: 1.5rem;
  color: #4b3262;
  font-weight: bold;
  margin-bottom: 20px;
}
/* RECIPE INGREDIENTS  */

.recipe-ingredients {
  background-color: white;

  box-shadow: 3px 3px 0px rgb(219, 216, 216);
}

.recipe-ingredients .card-bottom h4 {
  margin: 30px;
}
.recipe-ingredients ul li {
  margin-top: 15px;
  margin-left: 30px;
}

.recipe-ingredients .card-bottom {
  padding-bottom: 30px;
}

/* SOCIAL  */

.social ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.social li b {
  display: none;
}

.social li {
  padding: 10px 15px;
  background-color: white;
  border-radius: 50px;
}

.fa-facebook {
  color: #1a77f3;
}
.fa-twitter {
  color: #009eff;
}
.fa-instagram {
  color: #dc46a3;
}
.fa-pinterest {
  color: #e62222;
}
.fa-youtube {
  color: #e62222;
}

/* BANNER */

.hidden-ads img {
  margin-top: 30px;
  display: none;
}

/* RECIPE  */

.recipe p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 30px;
}

.orange-row {
  width: 70px;
  height: 3px;
  background-color: #f7b873;
  margin-top: 10px;
  margin-bottom: 30px;
}

.recipe-card p {
  font-size: 1rem;
  line-height: 200%;
  margin-bottom: 40px;
}

.recipe-card img {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}

/* FOOTER  */

footer {
  background-color: #79669f;
}

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.card-contact p {
  color: white;
  text-align: center;
  margin: 10px 0;
}
.card-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 41px;
  justify-content: center;
  align-items: center;
}
.card-nav ul li a {
  color: white;
  text-decoration: underline;
}

.card-nav ul li {
  display: inline;
  margin-right: 20px;
}

.card-nav {
  margin-bottom: 20px;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }

  .recipe-title span {
    display: inline;
  }
  h1 {
    text-align: left;
    color: #ff940d;
    padding: 10px 0 0 20px;
  }

  .card-top img {
    width: 100%;
  }
  .recipe-ingredients ul {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }
  .social li {
    padding: 10px 55px;
  }
  .recipe-card img {
    float: left;
    margin-right: 10px;
    padding-top: 40px;
  }
  .clearfix {
    content: "";
    display: table;
    clear: both;
  }
  .recipe-card p {
    font-size: 1rem;
    line-height: 200%;
  }

  .hidden-ads img {
    display: inline;
  }

  .card-contact p {
    margin-top: 30px;
  }
  .card-nav ul li {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 1180px;
  }
  h1 {
    font-size: 2rem;
  }

  .recipe-title h3 {
    font-size: 2rem;
    font-weight: 900;
  }

  .recipe-ingredients {
    display: flex;
  }

  .recipe-ingredients ul {
    display: block;
  }

  .social li b {
    display: inline-block;
  }

  .recipe-card img {
    width: 30%;
  }

  footer .container {
    max-width: 100%;
  }

  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  .card-nav ul {
    display: flex;
  }
  .card-contact p {
    text-align: start;
    margin: 10px 0;
  }

  .card-nav {
    margin: 0;
  }
}
